.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px gray;
    background-color: white;
    background-image: url(../../assets/bg2.png);
    position: relative;
}

.home > .about {
    /* border: 1px solid black; */
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}

.home > .about > h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem;
}

.home > .about > h1 {
    font-size: xx-large;
}

.home > .about > img {
    width: 8vw;
    mix-blend-mode: difference;
}